<!doctype html>
<html lang="en">

<!-- Head -->

<head>


    <!-- Include necessary Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Page Meta Tags-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Custom Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&family=Roboto:wght@300;400;700&display=auto"
        rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180"
        href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static', filename='images/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static', filename='images/favicon/favicon-16x16.png') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='images/favicon/safari-pinned-tab.svg') }}"
        color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/libs.bundle.css') }}" />

    <!-- Main CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.bundle.css') }}" />


    <!-- Fix for custom scrollbar if JS is disabled-->
    <noscript>
        <style>
            /**
          * Reinstate scrolling for non-JS clients
          */
            .simplebar-content-wrapper {
                overflow: auto;
            }
        </style>
    </noscript>

    <!-- Page Title -->
    <title>Reservations</title>



    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }

        .actions {
            display: flex;
            justify-content: center;
        }

        .actions button {
            margin: 5px;
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body class="">

    <!-- Navbar -->
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white flex-column border-0  ">
        <div class="container-fluid">
            <div class="w-100">
                <div class="d-flex justify-content-between align-items-center flex-wrap">

                    <!-- Logo-->
                    <a class="navbar-brand fw-bold fs-3 m-0 p-0 flex-shrink-0 order-0" href="/cars">
                        <div class="d-flex align-items-center">
                            <svg class="f-w-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.53 72.26">
                                <path
                                    d="M10.43,54.2h0L0,36.13,10.43,18.06,20.86,0H41.72L10.43,54.2Zm67.1-7.83L73,54.2,68.49,62,45,48.47,31.29,72.26H20.86l-5.22-9L52.15,0H62.58l5.21,9L54.06,32.82,77.53,46.37Z"
                                    fill="currentColor" fill-rule="evenodd" />
                            </svg>
                        </div>
                    </a>
                    <!-- / Logo-->

                    <!-- Navbar Icons-->
                    <ul class="list-unstyled mb-0 d-flex align-items-center order-1 order-lg-2 nav-sidelinks">


                        <!-- Navbar Search-->
                        <li class="d-none d-sm-block">
                            <a href="/logout" class="nav-link text-body search-trigger cursor-pointer">Logout</a>



                        </li>
                        <!-- /Navbar Search-->

                        <!-- Navbar Login-->
                        <li class="ms-1 d-none d-lg-inline-block">
                            <a class="nav-link text-body" href="/dashboardTest">
                                Dashboard
                            </a>
                        </li>
                        <!-- /Navbar Login-->


                    </ul>
                    <!-- Navbar Icons-->

                    <!-- Main Navigation-->
                    <div class="flex-shrink-0 collapse navbar-collapse navbar-collapse-light w-auto flex-grow-1 order-2 order-lg-1"
                        id="navbarNavDropdown">

                        <!-- Menu-->
                        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">

                            <li class="nav-item dropdown">
                                <a href="/clients" class="nav-link dropdown-toggle" role="button">
                                    Gestion Clients
                                </a>

                            </li>
                            <li class=" nav-item">
                                <a class="nav-link" href="/gestion_reservations" role="button">
                                    Gestion Réservations
                                </a>
                            </li>
                            <li class=" nav-item">
                                <a class="nav-link" href="/manage_cars" role="button">
                                    Gestion voitures
                                </a>
                            </li>

                            {% if session.get('role') == 'admin' %}

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Gestion Users
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/admin">Admin</a></li>
                                    <li><a class="dropdown-item" href="/manager">Manager</a></li>

                                </ul>
                            </li>
                            {% endif %}



                        </ul> <!-- / Menu-->

                    </div>
                    <!-- / Main Navigation-->

                </div>
            </div>
        </div>
    </nav>
    <!-- / Navbar--> <!-- / Navbar-->

    <!-- Main Section-->
    <section class="mt-0 ">
        <!-- Page Content Goes Here -->

        <!-- Category Top Banner -->
        <div class="py-10 bg-img-cover bg-overlay-dark position-relative overflow-hidden bg-pos-center-center rounded-0"
            style="background-image: url(../static/images/banners/merc.jpg);">
            <div class="container-fluid position-relative z-index-20" data-aos="fade-right" data-aos-delay="300">
                <h1 class="fw-bold display-6 mb-4 text-white">Dashboard</h1>
                <div class="col-12 col-md-6">
                </div>
            </div>
        </div>
        <!-- Category Top Banner -->

        <div class="container-fluid" data-aos="fade-in">
            <!-- Category Toolbar-->
            <div class="d-flex justify-content-between items-center pt-5 pb-4 flex-column flex-lg-row">
                <div>
                    <h1 class="fw-bold fs-3 mb-2">Dashboard</h1>
                </div>
            </div> <!-- /Category Toolbar-->

            <!-- Products-->
            <div class="row g-4">


                <div class="container">
                    <div class="row my-5">
                        <div class="col-lg-12">
                            <div class="card shadow">
                                <div class="card-header bg-info d-flex justify-content-between align-items-center">
                                    <h3 class="text-light">Reservation Par Statut</h3>
                                </div>
                                <div class="card-body" id="show_all_employees">
                                    <div style="width: 900px;">
                                        <canvas id="myChart"></canvas>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="container">
                    <div class="row my-5">
                        <div class="col-lg-12">
                            <div class="card shadow">
                                <div class="card-header bg-info d-flex justify-content-between align-items-center">
                                    <h3 class="text-light">Client par Adresse</h3>
                                </div>
                                <div class="card-body" id="show_all_employees">
                                    <div style="width: 900px;">
                                        <canvas id="myChart1"></canvas>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!-- / Products-->

        </div>

        <!-- /Page Content -->
    </section>
    <!-- / Main Section-->

    <!-- Footer -->
    <footer class="border-top py-5 mt-4  ">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center flex-column flex-lg-row">
                <div>
                </div>
                <div class="d-flex align-items-center justify-content-end flex-column flex-lg-row">
                    <p class="small m-0 text-center text-lg-start">&copy; 2021 OldSkool All Rights Reserved. Template by
                        <a href="https://www.pixelrocket.store">Pixel Rocket</a>
                    </p>
                </div>
            </div>
        </div>
    </footer> <!-- / Footer-->

    <!-- Offcanvas Imports-->

    <!-- Theme JS -->
    <script src=" {{ url_for('static', filename='js/vendor.bundle.js') }}"></script>
    <script src=" {{ url_for('static', filename='js/theme.bundle.js') }}"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <!-- <script>
        const labels = ['accepter', 'refuser', 'en_attente', 'terminer'];
        const data = {
          labels: labels,
          datasets: [{
            data: [5, 7, 2, 8],
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(255, 159, 64, 0.2)',
              'rgba(255, 205, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(201, 203, 207, 0.2)'
            ],
            borderColor: [
              'rgb(255, 99, 132)',
              'rgb(255, 159, 64)',
              'rgb(255, 205, 86)',
              'rgb(75, 192, 192)',
              'rgb(54, 162, 235)',
              'rgb(153, 102, 255)',
              'rgb(201, 203, 207)'
            ],
            borderWidth: 1
          }]
        };
    
        const config = {
          type: 'bar',
          data: data,
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          },
        };
    
        var myChart = new Chart(
          document.getElementById('myChart'),
          config
        );
    </script> -->

    <script>
        // Get the data passed from Flask
        const labels = JSON.parse('{{ labels|safe }}');
        const data = {
            labels: labels,
            datasets: [{
                data: JSON.parse('{{ data|safe }}'),
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(201, 203, 207, 0.2)'
                ],
                borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(201, 203, 207)'
                ],
                borderWidth: 1
            }]
        };

        const config = {
            type: 'bar',
            data: data,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            },
        };

        var myChart = new Chart(
            document.getElementById('myChart'),
            config
        );












        // Get the data passed from Flask
        const labels1 = JSON.parse('{{ labels1|safe }}');
        const data1 = {
            labels: labels1,
            datasets: [{
                data: JSON.parse('{{ data1|safe }}'),
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(201, 203, 207, 0.2)'
                ],
                borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(201, 203, 207)'
                ],
                borderWidth: 1
            }]
        };

        const config1 = {
            type: 'bar',
            data: data1,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            },
        };

        var myChart = new Chart(
            document.getElementById('myChart1'),
            config1
        );
    </script>



</body>

</html>